p {
    color: rgb(237, 93, 31);
    font-size: 300px;
    font-family: "Lobster", cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("fallImage.webp") no-repeat center center;
    background-size: cover;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg) skew(25deg);
    transition: background-color 1s;
}

#text:hover {
    background-color: sandybrown;
}

div {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: -100px;
    left: 0;
    animation: fall 10s ease-in infinite, shake 2s ease-in-out infinite alternate;
}

@keyframes fall {
    from { top: -100px }
    to   { top: 100%; opacity: 0 }
}

@keyframes shake {
    from { transform: translateX(0) }
    to   { transform: translateX(80px) }
}

div:nth-child(1)  { animation-delay: 0s; left: 5%; }
div:nth-child(2)  { animation-delay: 3s; left: 10%; }
div:nth-child(3)  { animation-delay: 2s; left: 15%; }
div:nth-child(4)  { animation-delay: 5s; left: 20%; }
div:nth-child(5)  { animation-delay: 1s; left: 25%; }
div:nth-child(6)  { animation-delay: 4s; left: 30%; }
div:nth-child(7)  { animation-delay: 6s; left: 35%; }
div:nth-child(8)  { animation-delay: 7s; left: 40%; }
div:nth-child(9)  { animation-delay: 8s; left: 45%; }
div:nth-child(10) { animation-delay: 9s; left: 50%; }
div:nth-child(11) { animation-delay: 8.5s; left: 55%; }
div:nth-child(12) { animation-delay: 1.5s; left: 60%; }
div:nth-child(13) { animation-delay: 6.5s; left: 65%; }
div:nth-child(14) { animation-delay: 3.5s; left: 70%; }
div:nth-child(15) { animation-delay: 9.5s; left: 75%; }
div:nth-child(16) { animation-delay: 5.5s; left: 80%; }
div:nth-child(17) { animation-delay: 2.5s; left: 85%; }
div:nth-child(18) { animation-delay: 7.5s; left: 90%; }
div:nth-child(19) { animation-delay: 0.5s; left: 95%; }
div:nth-child(20) { animation-delay: 4.5s; left: 100%; }
